body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
} 

#dm-container {
    position: relative;
    display: inline-block; 
}

#dm-canvas {
    display: block;
}

#ui-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    overflow: hidden;
}

#ui-layer input, #ui-layer button {
    pointer-events: auto;
    position: absolute;
}